<% content_for :css do %>
    <%= stylesheet_link_tag 'top' %>
  <%end%>
<div class="top">
  <h1 class="top_introduction">ようこそ<strong>Bookersへ！</strong></h1>
  <div class="top_greeting">
  <p><strong>Bookers</strong>では様々な書籍に関するあなたの意見や</p>
  <p>印象を共有し交換することができます</p>
  <a href="/books">start</a>
  </div>
</div>



